{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> We are two guys from Germany that got tired of the 9-to-5 and embarked on the journey of a lifetime, trading and traveling wherever and whenever we want to.

We are passionate about giving back as we would be nowhere near to where we are today without the help of other veteran traders that helped us in the beginning.

If you consider joining our community, we feel honored by your trust and we'll make sure that every free minute we have will be spent on making your investment worthwhile.!</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}